<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8"> <title>Active Academics</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/4.0.5/css/foundation.css"> 
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>

 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
 <script src="http://cdn.firebase.com/v0/firebase.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.3/gmaps.min.js"></script>

 <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.0.9/js/foundation.min.js"></script>
 <script src="backfire.js"></script>
  <script src="todo.js"></script>


<script type="text/template" id="Indexview">


<div class="large-7 columns">

<div class="panel">
<img style=" display:block;margin:0 auto;" src="http://www.filepicker.io/api/file/AXepuBHnQra7UADBGr1O/convert?w=600&h=400" alt="slide image">  
</div>
	
</div>
<div class="large-5 columns">
	<h3 style="font-family: 'Kranky', cursive;color:#FD795B; text-align:center;">We Believe in Your Child !</h3>
	<br/>
<p style="text-indent:10px;">Active Academics offers a unique variety of sports and fitness. Children enjoy playing basketball and soccer.  Each day students experience one hour of fitness where they learn about the importance of physical activity in their daily life.</p>
<div class="signup">
<a style="background-color:#FF634D;" id="emails" href="#" class="large button even-7">Sign up Now</a>
<div style="display:none;" class="callout panel">
<input id="namer" type="text" placeholder="Your name">
<input id="emailer" type="text" placeholder="email@example.com">
<a href="#" id="submit" class="small success button">Submit</a>
</div>
</div>
</div>


</script>

<script type="text/template" id="Newsview">
<div class="large-7 columns">
<div class="panel">
<img style=" display:block;margin:0 auto;" src="http://www.filepicker.io/api/file/AXepuBHnQra7UADBGr1O/convert?w=600&h=400" alt="slide image">  
</div>
</div>
<div class="large-5 columns">
<p>News</p>
</div>




</script>

<script type="text/template" id="Contactview">
<div class="large-7 columns">
<div class="panel">
<div id="map"> </div>
</div>
</div>
<div class="large-5 columns">
<h2 style="text-align:center;">Contact </h2>
<ul style=" display:block;margin:0 auto;" class="vcard">
<li class="fn">Active Academics Inc</li>
<li class="phone">(516) 304-1234</li>
<li class="street-address">348 Cochran Place</li>
<li class="locality">Valley Stream, NY , <span class="zip">11581</span></li>
<li class="email"><a href="#">activeacademicsinc@gmail.com</a></li>
</ul>
</div>



</script>

<script type="text/template" id="Aboutview">
<div class="large-7 columns">
<div class="panel">
<img style=" display:block;margin:0 auto;" src="http://www.filepicker.io/api/file/AXepuBHnQra7UADBGr1O/convert?w=600&h=400" alt="slide image">  
</div>
</div>
<div class="large-5 columns">
<div>
<div class="callout panel">
 <h3>Sports <small>click me </small></h3>
</div>
<p style="display:none;">Active Academics offers a unique variety of sports and fitness. Children enjoy playing basketball and soccer.  Each day students experience one hour of fitness where they learn about the importance of physical activity in their daily life.</p>
</div>
<div>
<div class="callout panel">
 <h3>Science <small>click me </small></h3>
</div>
<p style="display:none;"> Science at Active Academics is an exciting time where students take part in enriching science experiments. Get ready for explosions, hands on learning, and amusement! </p>
</div>
<div>
<div class="callout panel">
 <h3>Arts And Crafts <small>click me </small></h3>
</div>
<p style="display:none;">Arts and Crafts at Active Academics enables your child to learn about different artists. Children will learn how paint, draw, and create like their favorite artists. Get ready for your child’s art work to be hanging in a museum someday!</p>
</div>
<div>
<div class="callout panel">
 <h3>Nutrition <small>click me </small></h3>
</div>
<p style="display:none;">Children at Active Academics get to enjoy creating delicious and healthy meals. During cooking students are able to practice learning measurement, fractions, adding, subtraction, portion control and so much more. You may be surprised enjoy a scrumptious and healthy entre cooked entirely by your child!
With childhood obesity rates climbing, we are purposing ourselves to teach your child to be healthy and active!</p>
<p style="display:none;">We encourage all students to enjoy the outdoors! Children at Active Academics Inc. enjoy playing outside and walking to our nearby park!</p>
</div>
</div>
</script>

</head> 
<body style="background-color:#FDEDD0;">
  <nav  class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Active Academics
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
	    <li class="divider"></li>
        <li><a href="/">Home</a> </li>
        <li class="divider"></li>
        <li><a href="/about">About us</a> </li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>
        <li class="divider"></li>
        <li><a href="/news">News</a></li>
      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->

<div class="large-12 columns">

    <!-- Content Slider -->

<div id="hello" class="row">


</div>



</div>




</body>
</html>